main {
  min-height: 80vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
.cartQty {
  color: yellow;
  background-color: rgba(51, 51, 51, 1);
  padding: 0.1rem;
  border-radius: 4px;
}

/* Carousel styling mods */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: green;
}
.carousel img {
  display: flex;
  height: 300px;
  padding: 30px;
  margin: auto;
}
.carousel a {
  color: lightblue;
  margin: 0 auto;
}

/* Hepler classes */
.border-temp {
  border: green 1px solid;
}
